{% extends 'layout/main/base.html.twig' %}

{% block title %}
    Cygnite Framework - Simple Crud Operation
{% endblock %}

{% block content %}

        {# dump(productLists) #}

        <div style="margin-left: 79%;margin-bottom: 10px;margin-top: 10px;">
            {{ addLink('products.type', 'Add Products', buttonAttributes.primary) | raw }}
        </div>

        <table cellspacing="0" id="dataTable" cellpadding="0" style="width:890px;margin:0px auto;" class="tablesorter data-grid">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Product Type</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th class="sorter-false">Action</th>
                </tr>
            </thead>

            <tbody>
                {%  if products|length > 0 %}
                    {# dump(products) #}
                    {% for key, product in products %}

                        {% if loop.index % 2 == 0 %}
                            {%  set row = 'even' %}
                        {% else %}
                            {%  set row = 'odd' %}
                        {% endif %}

                        <tr class='{{ row }}'>
                            <td> {{ loop.index }}</td>
                            <td>{{ product.product_type|e}}</td>
                            <td>{{ product.name|e}}</td>
                            <td>{{ product.price|e}}</td>
                            <td>
                                {{ addLink('products.show.' ~ product.id ~ '/' ~ pageNumber , 'View' | upper, buttonAttributes.primary) | raw }}
                                {{ addLink('products.type.' ~ product.id ~ '/' ~ pageNumber , 'Edit' | upper, buttonAttributes.primary) | raw }}
                                {{ addLink('products.delete.' ~ product.id ~ '/' ~ pageNumber  , 'Delete' | upper, buttonAttributes.delete) | raw }}

                            </td>
                        </tr>

                    {% endfor %}
                {% else %}
                    No records found !
                {% endif  %}
            </tbody>


        </table>

        <div style=" margin-left: 797px;">{{ links |raw }} </div>


{% endblock %}

{% block footer %}

{% endblock %}